.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}



.login-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3%;
    box-sizing: border-box;
    width: 25%;
    height: 65%;
    background-color: red;
    border-radius: 1em;
}

.login-container h1 {
    width: 100%;
    text-align: center;
}