.new-shipment {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 50%;
    height: 50%;

}

.new-shipment-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 3%;
    box-sizing: border-box;
    
    border-radius: 1em;

}

.field-name {
    margin-top: 2%;
}

.field-input {
    width: 100%;
    font-size: 1.5em;
}

.submit-button {
    margin-top: 3%;
    padding: 1%;
    font-size: 1em;
}


.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    margin-left: 5%;
    margin-top: 5%;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
      33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
      66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
      100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
  }

  .response {
    margin-top: 5%;
  }