.shipment-card {
    background-color: white;
    width: 100%;
    padding: 2%;
    box-sizing:border-box ;
    margin-bottom: 2%;
    border-radius: 1em;
}

.top {
    display: flex;
    justify-content: space-between;
}

.rec-addr {
    color: #858585;
}

.status {
    padding: 1%;
    width: 20%;
    height: min-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 1em;
}

.detail-title {
    font-weight: bold;
}

